@import '~@angular/material/theming';

.sidenav-container {
  height: 100%;
  background-color: #e2e8ef;
}

.sidenav {
  width: 200px;
  @include mat-elevation(2);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}


#container {
  padding: 1vh 2vh;
}
