@import '~@angular/material/theming';
@import '../themes/blue';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  @include mat-elevation(2);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}


#container {
  padding: 1vh 2vh;
}

mat-sidenav {
  mat-nav-list {
    .mat-list-item.mat-list-item-active {
      background-color: mat-color($restaurant-app-primary) !important;
      color: #ffffff !important;
      @include mat-elevation-transition;
      @include mat-elevation(4);

      &:hover, &.mat-list-item-focus {
        @include mat-elevation(6);
      }
    }
  }
}
