@import '~@angular/material/theming';

@include mat-core();

$restaurant-app-primary: mat-palette($mat-amber);
$restaurant-app-accent: mat-palette($mat-red, A200, A100, A400);
$restaurant-app-warn: mat-palette($mat-red);

$restaurant-app-theme: mat-light-theme($restaurant-app-primary, $restaurant-app-accent, $restaurant-app-warn);

@include angular-material-theme($restaurant-app-theme);
